.topbar{
  color: greenyellow;
  font-size: 15px;
}
.topbarhr{
  color: white;
}
.navbar{
  color:white;
  background-color: #2C7F5C;
  


}
.container{
  margin: 20px;
}
.card{
  background: chartreuse;
  background-color:#2C7F5C ;
  
  
}
.img{
  height: 12px;
  width: 12px;
}